* {
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #fff;
  background-color: #345;
}

body {
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.diagram {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
}

.item {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #bebebe, #ddd);

  /* Temporarily hides "0" for files on the diagram. */
  font-size: 0;
}

.item_free {
  background: #fff;
}

.item:not(.item_free):hover {
  z-index: 1;
  background: linear-gradient(to right, #b7bec7, #d5dde5);
}

.item__name {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 4px;
  padding: 2px 4px;
  white-space: nowrap;
}

.item:not(.item_free):hover > .item__name {
  display: block;
}

.loader {
  position: absolute;
  z-index: 999;
  cursor: default;
  user-select: none;
}

.spinner,
.spinner::after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.spinner {
  width: 50px;
  height: 50px;
  overflow: hidden;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 6px solid rgba(255, 255, 255, 0.2);
  border-left: 6px solid #fff;
  transform: translateZ(0);
  animation: spinnerKeyframes 1.1s infinite linear;
}

@keyframes spinnerKeyframes {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.app__footer-label {
  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  margin-right: 4px;
}

.app__footer-input {
  flex-grow: 1;
  vertical-align: top;
}

.app__footer-input[type="text"] {
  border: none;
  border-radius: 2px;
  padding: 1px 5px;
}

.app__footer-button {
  margin-left: 4px;
}

.app__footer-button + .app__footer-button {
  margin-left: 8px;
}

.pathSelector,
.depthSelector {
  display: flex;
  flex-direction: row;
}

.pathSelector {
  width: 70%;
}

.depthSelector {
  width: 25%;
}
